{{#if movie}}

<div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
	<h1>{{movie.name}}</h1>
	<p>{{movie.description}}</p>
	
{{else}}
	
	<h1>Not found</h1>
	<p>A movie with that id does not exist.</p>
	
{{/if}}